body { 
    background-color: rgb(0, 0, 0);
}

.visualiser-container {
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    align-items: flex-end;
}
.visualiser-container-bar {       
    display: inline-block;
    background-color: hsl(100, 50%, 50%);
    margin: 0 2px;
    width: 100%;
}