body { 
    background: url(/Data/background.jpg);
}

.visualiser-container {
    position: absolute;
    overflow: auto;
    white-space: nowrap;
    bottom: 0px;
    right: 0;
    left: 0;
    text-align: center;
}
.visualiser-container-bar {       
    display: inline-block;
    background-color: white;
    margin: 0 2px;
    width: 15px;
}